{% extends 'base/base.html' %}
{% load static %}
{% block title %}농장 관리 일정 달력{% endblock title %}

{% block extracss %}
  <link href="{% static 'calender/main.css' %}" rel="stylesheet" />

{% endblock extracss %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa-solid fa-calendar-days"></i>&nbsp;농장 관리 일정 달력</h1>
    </div>
    <div align="right">
        <a class="btn btn-primary right" href="{% url 'calendarapp:event-new' %}"> 추가하기 </a>
    </div>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile row">
            <div class="col-md-12">
                <div id="external-events">
                    <h4 class="mb-4">진행 중인 일정</h4>
                    {% for event in running_events %}
                      <div class="fc-event">
                          <h3>{{ event.title }}</h3>
                          <p>{{ event.description }}</p>
                          <p>{{ event.start_time | date:'Y-m-d' }} ~ {{ event.end_time | date:'Y-m-d' }}</p>
                      </div>
                    {% empty %}
                      <p>진행 중인 일정이 없습니다.</p>
                    {% endfor %}
                    <hr>
                    <h4 class="mb-4">예정 일정</h4>
                    {% for event in expected_events %}
                      <div class="fc-event">
                          <h3>{{ event.title }}</h3>
                          <p>{{ event.description }}</p>
                          <p>{{ event.start_time | date:'Y-m-d' }} ~ {{ event.end_time | date:'Y-m-d' }}</p>
                      </div>
                    {% empty %}
                      <p>예정인 일정이 없습니다.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <div class="tile row">
            <div class="col-md-12">
                <h4 class="mb-4">달력</h4>
                <div class="clearfix">
                    <a class="btn btn-info left" href="{% url 'calendarapp:calendar' %}?{{ prev_month }}"> 이전달 </a>
                    <a class="btn btn-info right" href="{% url 'calendarapp:calendar' %}?{{ next_month }}"> 다음달 </a>
                </div>
                {{ calendar }}
            </div>
        </div>
    </div>
</div>

{% endblock content %}