{% extends 'base/base.html' %}
{% load static %}

{% block title %}농장 관리 일정 현황{% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa-solid fa-calendar-days"></i>&nbsp;농가 일정 현황</h1>
    </div>
    <div align="right">
        <a class="btn btn-primary right" href="{% url 'calendarapp:event-new' %}"> 추가하기 </a>
    </div>
{% endblock breadcrumb %}

{% block content %}
<div class="container" style="width:100%";>
<div class="row">
    <div class="col-md-6 col-lg-4">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa-solid fa-calendar-xmark fa-3x"></i>
            <div class="info">
                <h4>완료 일정</h4>
                <p><b>{{ end_events }}</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa-solid fa-calendar-check fa-3x"></i>
            <div class="info">
                <h4>진행 일정</h4>
                <p><b>{{ running_events.count }}</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa-solid fa-calendar-days fa-3x"></i>
            <div class="info">
                <h4>예정 일정</h4>
                <p><b>{{ expected_events.count }}</b></p>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 189.281px;">일정 제목</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 189.281px;">품목</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 189.281px;">작업단계</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 189.281px;">시작일</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 189.281px;">마감일</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for event in latest_events %}
                                            <tr role="row" class="odd">
                                                <td>{{ event.title }}</td>
                                                <td>{{ event.item }}</td>
                                                <td>{{ event.level }}</td>
                                                <td>{{ event.start_time | date:'Y-m-d P' }}</td>
                                                <td>{{ event.end_time | date:'Y-m-d P' }}</td>
                                                <td>
                                                  <a class="btn btn-info" href="{% url 'calendarapp:event-detail' event.pk %}" title="view">
                                                      <i class="fa fa-eye"></i>
                                                  </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>


<script type="text/javascript">
      function showClock(){
        var currentDate = new Date();
        var divClock = document.getElementById('divClock');
        var msg = "현재 시간 : ";
        if(currentDate.getHours()>12){      //시간이 12보다 크다면 오후 아니면 오전
          msg += "오후 ";
          msg += currentDate.getHours()-12+"시 ";
       }
       else {
         msg += "오전 ";
         msg += currentDate.getHours()+"시 ";
       }

        msg += currentDate.getMinutes()+"분 ";
        msg += currentDate.getSeconds()+"초";

        divClock.innerText = msg;

        if (currentDate.getMinutes()>58) {    //정각 1분전부터 빨강색으로 출력
          divClock.style.color="red";
        }
        setTimeout(showClock,1000);  //1초마다 갱신
      }
</script>
{% endblock extrascripts %}
