{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
농장 관리 일정 작성
{% endblock %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa-solid fa-calendar-days"></i>&nbsp;농장 일정 작성</h1>
    </div>
{% endblock breadcrumb %}

{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table class="form form-table">
            {{ form.title | as_crispy_field }}
        <div class="row">
            <div class="col-6">
              {{ form.start_time | as_crispy_field }}
            </div>
            <div class="col-6">
              {{ form.end_time | as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                {{ form.item | as_crispy_field }}
                <a class="btn btn-primary" href="{% url 'calendarapp:item-new' %}" title="view">
                    품목 추가
                </a>
            </div>
            <div class="col-4">
                {{ form.level | as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.active | as_crispy_field }}
            </div>
        </div>
        {{ form.description | as_crispy_field }}
        {{ form.image | as_crispy_field }}
          <hr>
        <button type="submit" class="btn btn-primary float-right"> 일정 추가 </button>
      </table>
    </form>
    </div>
{% endblock %}

