{% extends 'blogquestionapp/base_full_width.html' %}
{% load crispy_forms_tags %}
{% block head_title %}질문 게시판 - 게시물 작성{% endblock %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa-solid fa-pen-to-square"></i>&nbsp;질문 게시물 작성</h1>
    </div>
{% endblock breadcrumb %}

{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form | crispy }}
        <div id="div_id_tags_str">
            <label for="id_tags_str">Tags:</label>
            <input type="text" name="tags_str" id="id_tags_str" class="textinput textInput form-control">
        </div>
        <br/>

        <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>
    {{ form.media }}
</div>
{% endblock content%}