{% extends 'blogquestionapp/base_full_width.html' %}
{% load crispy_forms_tags %}
{% block head_title %}질문 게시판 - 댓글 수정{% endblock %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa-solid fa-pen-to-square"></i>&nbsp;질문 게시물 댓글 수정</h1>
    </div>
{% endblock breadcrumb %}

{% block content %}
    <form method="post" id="comment-form">{% csrf_token %}
        {{ form | crispy }}
        <br/>
        <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>
{% endblock content %}