{% extends 'base/base.html' %}
{% load static %}

{% block title %}입출금 장부{% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa-solid fa-wallet"></i>&nbsp;입출금 장부</h1>
    </div>
    <div align="right">
        <a class="btn btn-primary" href="{% url 'ledgerapp:ledger_new' %}">추가하기</a>
    </div>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width:130.141px;">일자</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">구분</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 102.141px;">품목</th>
<!--                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">사업유형</th>-->
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">종류</th>
<!--                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">거래처</th>-->
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">금액</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">결제</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 50.141px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for event in object_list %}
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">{{ event.date | date:'Y-m-d' }}</td>
                                                {% if event.type == '수입' %}
                                                <td class="text-info">{{ event.type }}</td>
                                                {% else %}
                                                <td class="text-danger">{{ event.type }}</td>
                                                {% endif %}
                                                <td>{{ event.item }}</td>
<!--                                                <td>{{ event.business }}</td>-->
                                                <td>{{ event.category }}</td>
<!--                                                <td>{{ event.correspondent }}</td>-->
                                                <td>{{ event.amount }}</td>
                                                {% if evnet.payment == "신용카드" %}
                                                <td class="text-warning">{{ event.payment }}</td>
                                                {% elif evnet.payment == "체크카드" %}
                                                <td class="text-success">{{ event.payment }}</td>
                                                {% else %}
                                                <td class="text-primary">{{ event.payment }}</td>
                                                {% endif %}
<!--                                                <td>{{ event.end_time }}</td>-->
                                                <td>
                                                  <a class="btn btn-info btn-sm" href="{% url 'ledgerapp:ledger-detail' event.pk %}" title="view">
                                                      <i class="fa fa-eye"></i>
                                                  </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
{% endblock extrascripts %}
