<!DOCTYPE html>
<html lang="en">
{% extends 'base/base.html' %}

{% block title %}
품목 추가 - 입출금 장부
{% endblock %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa-solid fa-calendar-days"></i>&nbsp;농장 일정 작성</h1>
    </div>
{% endblock breadcrumb %}

{% block content %}

<form method="post">
  {% csrf_token %}
  <table class="form form-table">
    {{ form }}
    <tr><td colspan="2"><button type="submit" class="btn btn-primary right"> 추가하기 </button>
    <a class="btn btn-primary left" href="{% url 'ledgerapp:ledger_new' %}" title="view">
        돌아가기
      </a>
    </td></tr>
  </table>
</form>

{% endblock %}