{% extends 'base/base.html' %}
{% load static %}

{% block title %}Weather - Sunshine Average{% endblock title %}
{% load static %}

{% block content %}

    <div id="myFirstchart-container">{{ output|safe }}</div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static "fusioncharts/fusioncharts.js" %}"></script>
    <script type="text/javascript" src="{% static "fusioncharts/fusioncharts.charts.js" %}"></script>
    <script type="text/javascript" src="{% static "fusioncharts/themes/fusioncharts.theme.fusion.js" %}"></script>
{% endblock extrascripts %}