{% extends 'base/base.html' %}
{% load static %}


{% block title %}Weather - Humid Average{% endblock title %}
{% block content %}
<div align="center">
    <h3>어제 날씨</h3>
    <hr>
</div>
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-thermometer-half fa-3x"></i>
            <div class="info">
                <h4>온도</h4>
                <p><b>{{ yesterday_tavg }}</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-tint fa-3x"></i>
            <div class="info">
                <h4>습도</h4>
                <p><b>{{ yesterday_thum }}%</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-snowflake-o fa-3x"></i>
            <div class="info">
                <h4>강우량</h4>
                <p><b>{{ yesterday_rainfall }}mm</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
          <div class="widget-small primary coloured-icon">
              <i class="icon fa fa-sun-o fa-3x"></i>
              <div class="info">
                  <h4>일조량</h4>
                  <p><b>{{ yesterday_sunshine }}</b></p>
              </div>
          </div>
      </div>
</div>


{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.charts.js' %}"></script>

    <script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.fusion.js' %}"></script>

{% endblock extrascripts %}
